@import 'cards/components/header/header.scss';
@import 'theme.scss';

body {
  margin: 0;
  background-color: $background-color;

  a {
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding-left: 0;
  }

  .content {
    margin: 0 auto;
    max-width: 780px;
    padding: 4px;
  }

}