@import 'cards/components/header/header.scss';
@import 'theme.scss';

body {
  margin: 0;
  background-color: $background-color;

  a {
    color: $primary-font-color;
    text-decoration: none;
    &:visited {
      color: $primary-font-color;
    }
  }

  ul {
    margin: 0;
    padding-left: 0;
  }

  .content {
    margin: 0 auto;
    max-width: 780px;
    padding: 4px;
  }

}